@page "/routes"
@using Services
@inject TopLoggerApiService TopLoggerApiService

<h3>Routes</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await TopLoggerApiService.GetRoutes();
    }
}
